.main-content {
    .main-header {
        ul {
            display: flex;
            gap: 12px;
            padding: 0;

            li {
                list-style: none;
                font-size: 18px;
                color: gray;
            }
            
            .active {
                color: #ff9800;
                text-decoration: underline;
                text-underline-offset: 4px;
                cursor: pointer;
            }
        }
    }
    
    .form {
        width: 100%;
        margin: 0 auto;
        padding: 30px;
        border-radius: 8px;
        background-color: #fafafa;

        .p-field {
            margin-bottom: 1rem;
            
            label {
                display: block;
                margin-bottom: 0.5rem;
                font-weight: bold;
            }
    
            input,
            textarea {
                width: 100%;
                padding: 0.5rem;
                border: 1px solid #ccc;
                border-radius: 4px;
            }
    
            input:focus,
            textarea:focus {
                border-color: #ff9800;
                outline: none;
            }
        }
        .p-button {
            display: block;
            margin: 0 auto;
            margin-top: 40px;
            padding: 0.75rem;
            font-size: 16px;
            border-radius: 4px;
            color: white;
            background-color: #ff9800;
        }

        .p-link {
            visibility: hidden;
        }

        .p-error {
            margin-left: 10px;
            font-size: 15px;
        }
    }
}

/* UserAdd */
.p-inputgroup {
    display: flex;
    justify-content: center;
}

.p-inputgroup .p-inputtext, .p-inputgroup .p-button {
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0.5rem;
    box-sizing: border-box;
}

.p-inputgroup .p-inputtext {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.p-inputgroup .p-button {
    display: inline-block !important;
    padding: 2px 10px !important;
    margin-top: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    background-color: #007ad9;
    color: #fff;
}

/* PromotionAdd */
.p-datepicker-next .p-datepicker-next-icon,
.p-datepicker-prev .p-datepicker-prev-icon {
    visibility: hidden;
}

.p-datepicker-next, .p-datepicker-prev {
    position: relative;
    background-color: transparent;
    border: none; 
    cursor: pointer; 
}

.p-datepicker-next::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 24px; 
    background-image: url('/src/assets/caret-right.svg'); 
    background-size: cover;
    transform: translate(-50%, -50%);
}

.p-datepicker-prev::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px; 
    height: 24px;
    background-image: url('/src/assets/caret-left.svg');
    background-size: cover;
    transform: translate(-50%, -50%);
}







